/******************************************
*  Author : mcunkelman   
*  Created On : Thu Jun 03 2021
*  File : style.css.css
*******************************************/
*{
    background-color: #052e62;
    color: #eeeee4;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #052e62;
    color: #eeeee4;
    padding: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

header h1{
    background-color: #052e62;
    color: #eeeee4;
    font-size: 8vw;
    text-align: center;
    padding: 0;
    margin: 0;
}
header h2{
    background-color: #052e62;
    width: 100%;
    color: #eeeee4;
    font-size: 3vw;
    text-align: center;
    padding: 0;
    margin: 0;   
}
nav{
    display: inline-block;
    width: 100%;
    background-color: #052e62;
    color: #eeeee4;
    font-size: 1.75rem;
    padding: 0.5rem;
}
#menu{
    display: inline;
    background-color: #052e62;
    color: #eeeee4;
    text-align: center;
}
#menu .activetab{
    background-color: #eeeee4;
    color: #052e62;
}
#menu .activetab:hover{
    background-color: #ff8500;
}
nav ul{
    list-style-type: none;
    background-color: inherit;
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
nav li{
    background-color: inherit;
    color: inherit;
    display: inline;
    border-radius: 7px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 3vw;
    padding: 3px;
}
nav li:hover{
    color: #052e62;
    background-color: #ff8500;
}
nav a{
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}
img{
    max-width: 90%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    border-radius: 10px;
}
#text{
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#text .intro{
    background-color: inherit;
    color: inherit;
    font-size: 1.25em;
    text-align: center;
}
#text .address{
    font-size: 1.25em;
    text-align: center;
}
#text a{
    color: #ff8500;
    font-size: inherit;
}
p{
    width: 100%;
    background-color: inherit;
    color: inherit;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#recipe{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    align-content: center;
    text-align: center;
    max-width: 1400px;
}
.update{
    background-color: inherit;
    color: inherit;
    font-size: 5vw;
    text-align: center;
}

#text .todo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}
#text .topic{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
}
ul{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
ul ul{
    width: 80%
}
@media only screen and (max-width: 400px) {
    header h1{
        font-size: 2rem;
    }
    header h2{
        font-size: .75rem;
    }
    #recipe p{
        font-size: 0.75rem;
    }
    #recipe ul{
        list-style-type: none;
    }
    nav li{
        margin-left: .1rem !important;
        margin-right: .1rem !important;
        font-size: .75rem;
    }
    nav ul{
        margin-left: .1rem;
        margin-right: .1rem;
        list-style-type: none;
    }
}
@media only screen and (min-width: 1400px) {
    header h1{
        font-size: 6rem;
    }
    header h2{
        font-size: 2.25rem;
    }
    nav li{
        margin-left: 2.25rem;
        margin-right: 2.25rem;
        font-size: 2.25rem;
    }
    nav ul{
        list-style-type: none;
    }
}
